<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <ion-label>{{ 'Calcular IRRF' | uppercase}}</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="irrfForm" class="paddin-input">
    <ion-item>
      <ion-label position="stacked">Salário bruto:</ion-label>
      <ion-input
        placeholder="R$ 0.00"
        formControlName="grossSalary"
        type="number"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de dependentes:</ion-label>
      <ion-input placeholder="0" type="number" formControlName="dependentValue">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="irrfForm.value.irrfValue">R$</ion-label>
      <ion-input disabled placeholder="..." formControlName="irrfValue">
      </ion-input>
    </ion-item>
    <div class="align-items">
      <span *ngIf="baseCalculation > 1">{{'Base para cálculo: '}}</span>
      <ion-badge color="medium" *ngIf="baseCalculation > 1">
        {{'R$ '}}{{ baseCalculation.toFixed(2).toString().replace('.', ',') }}
      </ion-badge>
    </div>
    <div class="align-button">
      <ion-button (click)="onSubmit(irrfForm)">Calcular</ion-button>
      <ion-button *ngIf="grossSalary" (click)="resetForm()" color="light">Limpar</ion-button>
      <ion-button *ngIf="calculatedIrrf" (click)="print()" color="light">Gerar PDF</ion-button>
    </div>

  </form>
</ion-content>
