<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <ion-label>{{ 'Notas da Versão' | uppercase}}</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <div class="display">
        <ion-label>Novidades da versão 1.0.0</ion-label>
        <ul>
          <li>Tabela INSS 2021</li>
          <li>Tabela IRRF 2021</li>
        </ul>
      </div>
    </ion-item>
</ion-content>
