<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <ion-label>{{ 'Sobre' | uppercase}}</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <div class="ion-padding">
        <ion-img [src]="'/assets/icon/logo.png'"></ion-img>
        <ion-label class="color">Walace Rodrigues</ion-label><br>
        <ion-label>walace_srm@hotmail.com</ion-label><br>
        <a>https://github.com/walace-srm</a>
      </div>
  </ion-card>
</ion-content>
