<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title">
        <ion-label>{{ 'Sobre' | uppercase}}</ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <ion-img [src]="'/assets/icon/logo.png'"></ion-img>
      <ion-label class="color">Walace Rodrigues</ion-label><br />
      <p>Dicas, elogios e sugestões:</p>
      <a>walace_srm@hotmail.com</a><br />
      <!-- <a>https://github.com/walace-srm</a> -->
    </div>
  </ion-card>
</ion-content>
