<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <ion-item-divider>
              <ion-label (click)="releaseNotes()">
                  {{'Notas da Versão'}}
              </ion-label>
          </ion-item-divider>

          <ion-item-divider>
              <ion-label (click)="openModal()">
                  {{'Sobre'}}
              </ion-label>
          </ion-item-divider>
          <ion-item-divider>
              <ion-label>
                  {{'Termos e Políticas'}}
              </ion-label>
          </ion-item-divider>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
