<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>{{ 'Periculosidade' | uppercase}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" class="paddin-input">
    <ion-item>
      <ion-label position="stacked">Salário bruto</ion-label>
      <ion-input
        placeholder="R$ 0.00"
        type="number"
        (ngModelChange)="showClearButton($event)"
        formControlName="grossSalary"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="form.value.dangerousnessValue">R$</ion-label>
      <ion-input
        disabled
        placeholder="..."
        formControlName="dangerousnessValue"
      ></ion-input>
    </ion-item>

    <div class="align-button">
      <ion-button (click)="onSubmit(form)">Calcular</ion-button>
      <ion-button *ngIf="grossSalary" (click)="resetForm()" color="light"
        >Limpar</ion-button
      >
      <ion-button
        *ngIf="calculatedDangerousness"
        (click)="generatorPdf()"
        color="light"
        >Gerar PDF</ion-button
      >
    </div>
  </form>
</ion-content>
<!--Gerar PDF-->
<!--Preciso melhorar isso-->
<div hidden id="remove">
  <div id="print">
    <h1 style="display: flex; justify-content: center; margin-bottom: 40px">
      ADICIONAL PERICULOSIDADE
    </h1>
    <br />
    <div style="width: 100%">
      <div
        style="
          display: flex;
          background-color: #dddddd;
          justify-content: space-between;
          height: 50px;
        "
      >
        <b style="font-size: 35px">Salário bruto:</b>
        <span style="font-size: 35px">{{ 'R$ ' + grossSalaryFormatted }}</span>
      </div>

      <div style="display: flex; justify-content: space-between; height: 50px">
        <b style="font-size: 35px">Adicional periculosidade:</b>
        <span style="font-size: 35px"
          >{{ 'R$ ' + calculatedDangerousnessPdf }}</span
        >
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          height: 50px;
          background-color: #dddddd;
        "
      >
        <b style="font-size: 35px">Total</b>
        <span style="font-size: 35px">{{ 'R$ ' + total }}</span>
      </div>
    </div>
  </div>
</div>
