<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-label>{{ 'Cálculos Trabalhistas' | uppercase }}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-align" style="justify-content: space-between">
    <div class="row">
      <ion-card (click)="routerInss()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/inss.png'"></ion-img>
          <ion-card-subtitle>Cálculo do INSS Descontado</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card (click)="routerIrrf()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/irrf.png'"></ion-img>
          <ion-card-subtitle>Cálculo do IR Retido na Fonte</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="row" style="justify-content: space-between">
      <ion-card (click)="routerDissidio()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/dissidio.png'"></ion-img>
          <ion-card-subtitle>Cálculo do Dissídio</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card (click)="routerDecimoTerceiro()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/decimo-terceiro.png'"></ion-img>
          <ion-card-subtitle>Cálculo 13º salário</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="row" style="justify-content: space-between">
      <ion-card (click)="routerPericulosidade()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/periculosidade.jpg'"></ion-img>
          <ion-card-subtitle>Adicional de periculosidade</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card (click)="routerDicas()">
        <ion-card-header>
          <ion-img [src]="'/assets/icon/dicas.jpg'"></ion-img>
          <ion-card-subtitle>Tabela, dicas e cálculos</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
